body {
    color: #333;
}

h1 {
    margin-bottom: 1rem;
}
.size{
    font-size: xx-large;
}

li {
    border: 1px solid #747272;
    padding: 10px;
    border-radius: 3px;
}

h3 {
    font-size: 1rem;
    line-height: 1.4;
}
